<main>
  @for (liga of jsonData; track $index) {
  <app-liga-header
    [nombreLiga]="liga.nombreLiga"
    [imagenLiga]="liga.imagenLiga"
    [equipos]="liga.equipos"
  />
  <div class="container-fluid mt-3">
    @for(equipo of liga.equipos; track $index) {
    <app-team-header
      [imagenTeam]="equipo.imagenEquipo"
      [nombreTeam]="equipo.nombreEquipo"
      [componentId]=`${equipo.nombreEquipo}-${$index}`
      [jugadores]="equipo.informacion.jugadores"
    >
      <div class="row g-3 justify-content-center">
        @for (jugador of equipo.informacion.jugadores; track $index) {
          <div class="col-12 col-sm-4 col-md-3 col-lg-2">
            <app-card [componentId]=`${jugador.nombreJugador}-${$index}` [numeroJugador]="jugador.numero" [nombreJugador]="jugador.nombreJugador" [imagenJugador]="jugador.imagenJugador" [fechaNacimiento]="jugador.fechaNacimiento" [nacionalidades]="jugador.nacionalidadesDelJugador" [posicion]="jugador.posicionJugador" />
          </div>
        }
      </div>
    </app-team-header>
    }
  </div>
  }
</main>
